.featureImage{
    background-color: aqua;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    h4{
        background-color: rgba(0,0,0,0.3);
        width: 100%;
        text-align: center;
        padding: 15px 10px;
        color: #fff;
    }
}